/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-rivendellweb-blocks-example-02 {
	color: green;
	background: #cfc;
	border: 2px solid #9c9;
	padding: 20px;
}
